.App {
  text-align: center;
}
main {
  margin: 0 auto;
  background-color: rgb(126, 168, 154);
  width: 90vw;
  height: 100vh;
}
h1 {
  text-align: center;
  color: rgb(204, 236, 226);
  padding: 20px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
